# this file is deprecated and will be removed

ConcurrentLogHandler
Flask
Jinja2
MarkupSafe
PyDispatcher
PyYAML
Scrapy
Twisted
Werkzeug
attrs
cffi
characteristic
click
coverage
cryptography
cssselect
enum34
funcsigs
future
idna
ipaddress
itsdangerous
jsonschema
kafka-python
kazoo
lxml
mock
nose
parsel
pbr
pyOpenSSL
pyasn1-modules
pyasn1
pycparser
python-json-logger
python-redis-lock
queuelib
redis
requests-file
requests
retrying
service-identity
six
testfixtures
tldextract
ujson
w3lib
zope.interface
pymysql
pyMongo
aiohttp
elasticsearch
Pillow